*{
    box-sizing: border-box;
    
    
}

body {
    background-color: #c7d6ed;
    font-family: 'Poppins', sans-serif;
    color: #130376;
    padding: 0;
    margin: 0;

}


header h1 {
    text-align: center;
    margin: 50px auto;
}

